<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<select id="search" parameterType="long" resultType="com.delivery.board.model.DeliveryVO">
		SELECT WAYBILL, RESERVATION, NAME
		FROM TEST
		WHERE WAYBILL = #{waybill_Num}
	</select>
</mapper>