<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="supportMapper">
  
  	<insert id="insert">
  		<selectKey keyProperty="inquiryNo" resultType="int"  order="BEFORE">
       		SELECT CAP_INQUIRY_SEQ.NEXTVAL AS FROM DUAL
   		</selectKey>
   		INSERT INTO CAP_DELIVERY_INQUIRY (
   											INQUIRY_NO
   											, WAYBILL_NUM
   											, NAME
   											, PHONE
   											, INQUIRY_TYPE
   											, ADDRESS
   											, ADDRESS2
   											, PRODUCT_NAME
   											, TITLE
   											, CONTENT
   											<if test="loginId != null">
   											, LOGIN_ID
   											</if>
   											)
   											VALUES (
   											#{inquiryNo}
   											, #{waybillNum}
   											, #{name}
   											, #{phone}
   											, #{inquiryType}
   											, #{addr}
   											, #{addr2}
   											, #{productName}
   											, #{title}
   											, #{content}
   											<if test="loginId != null">
   											, #{loginId}
   											</if>
   											)
  	</insert>
  	
  	<insert id="insertFile" parameterType="FileVO" useGeneratedKeys="false">
   	<selectKey keyProperty="fileNo" resultType="int"  order="BEFORE">
       		SELECT COALESCE(MAX(FILE_NO),0)+1 as fileNo FROM CAP_DELIVERY_INQUIRY_FILE
   	</selectKey>
   			INSERT INTO CAP_DELIVERY_INQUIRY_FILE (
   											INQUIRY_NO
   											, FILE_NO
   											, FILE_NAME
   											, FILE_LOCATION
   											, FILE_SIZE)
   											VALUES (
   											CAP_INQUIRY_SEQ.CURRVAL
   											, #{fileNo}
   											, #{fileName}
   											, #{fileLocation}
   											, #{fileSize})
  	</insert>
  	
  	<delete id="deleteFile">
  		DELETE FROM CAP_DELIVERY_INQUIRY_FILE WHERE FILE_LOCATION = #{fileLocation}
  	</delete>
  	
  	<select id="inquiryList" resultMap="InquiryResultMap">
  	SELECT INQUIRY_TYPE,  TITLE, WAYBILL_NUM, REG_DATE, INQUIRY_STATUS
	FROM CAP_DELIVERY_INQUIRY
	WHERE login_id = #{loginId}
  	</select>
  	
  	<resultMap type="InquiryVO" id="InquiryResultMap">
  	<result property="inquiryNo" column="INQUIRY_NO" />
  	<result property="waybillNum" column="WAYBILL_NUM" />
  	<result property="name" column="NAME" />
  	<result property="phone" column="PHONE" />
  	<result property="addr" column="ADDRESS" />
  	<result property="addr2" column="ADDRESS2" />
  	<result property="inquiryType" column="INQUIRY_TYPE" />
  	<result property="productName" column="PRODUCT_NAME" />
  	<result property="title" column="TITLE" />
  	<result property="regDate" column="REG_DATE" />
  	<result property="inquiryStatus" column="INQUIRY_STATUS" />
  	<result property="content" column="CONTENT" />
  	<result property="loginId" column="LOGIN_ID" />
  	</resultMap>
  	
  </mapper>