<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="supportMapper">
  
  	<insert id="insert">
  		<selectKey keyProperty="inquiryNo" resultType="int"  order="BEFORE">
       		SELECT CAP_INQUIRY_SEQ.NEXTVAL AS FROM DUAL
   		</selectKey>
   		INSERT INTO CAP_DELIVERY_INQUIRY (
   											INQUIRY_NO
   											, WAYBILL_NUM
   											, NAME
   											, PHONE
   											, INQUIRY_TYPE
   											, ADDRESS
   											, ADDRESS2
   											, PRODUCT_NAME
   											, TITLE
   											, CONTENT
   											<if test="loginId != null">
   											, LOGIN_ID
   											</if>
   											)
   											VALUES (
   											#{inquiryNo}
   											, #{waybillNum}
   											, #{name}
   											, #{phone}
   											, #{inquiryType}
   											, #{addr}
   											, #{addr2}
   											, #{productName}
   											, #{title}
   											, #{content}
   											<if test="loginId != null">
   											, #{loginId}
   											</if>
   											)
  	</insert>
  	
  	<insert id="insertFile" parameterType="FileVO" useGeneratedKeys="false">
   			INSERT INTO CAP_DELIVERY_INQUIRY_FILE (
   											INQUIRY_NO
   											, FILE_NO
   											, FILE_NAME
   											, FILE_LOCATION
   											, FILE_SIZE)
   											VALUES (
   											CAP_INQUIRY_SEQ.CURRVAL
   											, #{fileNo}
   											, #{fileName}
   											, #{fileLocation}
   											, #{fileSize})
  	</insert>
  	
  	<delete id="deleteFile">
  		DELETE FROM CAP_DELIVERY_INQUIRY_FILE WHERE FILE_LOCATION = #{fileLocation}
  	</delete>
  	
  	<select id="inquiryList" resultMap="InquiryResultMap">
  	SELECT INQUIRY_TYPE,  TITLE, WAYBILL_NUM, REG_DATE, INQUIRY_STATUS, INQUIRY_NO
	FROM CAP_DELIVERY_INQUIRY
	WHERE login_id = #{loginId}
	ORDER BY INQUIRY_NO DESC
  	</select>
  	
  	<select id="detailInquiry" resultMap="InquiryResultMap">
  	SELECT content, address, address2, name, product_name
	FROM cap_delivery_inquiry
	WHERE inquiry_no = #{inquiryNo}
  	</select>
  	
  	<select id="detailInquiryFile" parameterType="String" resultMap="FileResultMap">
  	SELECT file_name,file_no,file_location
	FROM cap_delivery_inquiry_file
	WHERE inquiry_no = #{inquiryNo}
  	</select>
  	
  	<select id="listCount" resultType="int">
	<![CDATA[
		SELECT COUNT(INQUIRY_NO)
		FROM cap_delivery_inquiry
		WHERE INQUIRY_NO > 0 AND login_id = #{loginId}
	]]>
	</select>
	
	<select id="listCriteria" resultMap="InquiryResultMap">
  <![CDATA[
 	SELECT * 
	  FROM(
	        SELECT ROWNUM AS RNUM, A.*
	            FROM ( SELECT * 
	                    FROM 
	                        cap_delivery_inquiry
	                    WHERE 
	                        INQUIRY_NO > 0 and login_id = #{loginId}
	                    ORDER BY 
	                    INQUIRY_NO DESC, REG_DATE DESC ) A
	         WHERE ROWNUM <= #{rowEnd}
	      )
 	WHERE RNUM >= #{rowStart}
  	]]>
  </select>
  	
  	<resultMap type="FileVO" id="FileResultMap">
  	<result property="fileName" column="FILE_NAME" />
  	<result property="fileNo" column="FILE_NO" />
  	<result property="fileLocation" column="FILE_LOCATION" />
  	</resultMap>

  	<resultMap type="InquiryVO" id="InquiryResultMap">
  	<result property="inquiryNo" column="INQUIRY_NO" />
  	<result property="waybillNum" column="WAYBILL_NUM" />
  	<result property="name" column="NAME" />
  	<result property="phone" column="PHONE" />
  	<result property="addr" column="ADDRESS" />
  	<result property="addr2" column="ADDRESS2" />
  	<result property="inquiryType" column="INQUIRY_TYPE" />
  	<result property="productName" column="PRODUCT_NAME" />
  	<result property="title" column="TITLE" />
  	<result property="regDate" column="REG_DATE" />
  	<result property="inquiryStatus" column="INQUIRY_STATUS" />
  	<result property="content" column="CONTENT" />
  	<result property="loginId" column="LOGIN_ID" />
  	</resultMap>
  	
  </mapper>