<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	  <typeAliases>
	  	<typeAlias type="com.delivery.user.model.UserVO" alias="UserVO"/>
	  	<typeAlias type="com.delivery.notice.model.NoticeVO" alias="NoticeVO"/>
	  	<typeAlias type="com.delivery.board.model.ReservationVO" alias="ReservationVO"/>
	  	<typeAlias type="com.delivery.board.model.SearchDTO" alias="SearchDTO"/>
	  	<typeAlias type="com.delivery.board.model.SearchResultVO" alias="SearchResultVO"/>
	  	<typeAlias type="com.delivery.support.model.InquiryVO" alias="InquiryVO"/>
	  	<typeAlias type="com.delivery.support.model.FileVO" alias="FileVO"/>
	  	<typeAlias type="com.delivery.mypage.model.LookUpVO" alias="LookUpVO"/>
	  </typeAliases>
</configuration>